$size: 420px;

.image-container {
	position: relative;
	height: 100vh;
	width: 100%;
  display: flex;
  overflow: hidden;
  
	.container {
		position: relative;
		height: $size;
		width: $size;
    margin: auto;
    transition: 1s;
    
		&:hover {
      .middle {


      }
      .cube {
        box-shadow: 0px 37px 29px rgba(0, 0, 0, 0.3);
        transition: 1s;

      }
      .bottom-right {
        right: -50%;
      }
      .top-left {
        top: -50%;
      }
      .top-right {
        bottom: -50%;
      }
      .bottom-left {
        left: -50%;
      }
    }
  }
		.cube, .middle {
      background: url(./media/basic-pics/sunset_minimal_landscape_4k.jpg) no-repeat center/cover;
      position: absolute;
      height: $size;
      width: $size;
		}
		.middle {
			transition: .5s all .25s;
			transition-timing-function: cubic-bezier(.17,.67,.33,.97);
			position: absolute;
      margin: auto;
      z-index: 2;
      box-shadow: 0px 17px 23px rgba(0, 0, 0, 0.34);

      &:hover {
        transform: scale(0.7);
        background: #D97544;
      }

      &:hover a {
        opacity: 1;
        visibility: visible;
      }
      a {
        position: relative;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
